@import "tailwindcss";

@theme {
  --color-background: #030014;
  --color-card: rgba(13, 1, 33, 0.4);
  --color-secondary: #fdfdfd;
  --color-accent: #a855f7;
  --color-neon-purple: #9b5de5;
  --color-neon-blue: #3b82f6;
  --color-easy: #10b981;
  --color-medium: #f59e0b;
  --color-hard: #ef4444;

  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  background-color: #030014;
  color: #fdfdfd;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.tech-bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #030014;
  pointer-events: none;
  overflow: hidden;
}

/* The Grid Layer */
.tech-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(168, 85, 247, 0.12) 1px, transparent 1px),
    linear-gradient(90deg, rgba(168, 85, 247, 0.12) 1px, transparent 1px);
  background-size: 64px 64px;
  background-position: center center;
  opacity: 0.8;
}

/* The Matrix Text Layer */

.tech-bg::after {
  content: "</>  { } ";
  position: absolute;
  inset: -50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-mono);
  font-size: 14vw;
  font-weight: 900;

  color: rgba(168, 85, 247, 0.06);
  white-space: nowrap;
  pointer-events: none;

  letter-spacing: 1.5rem;
  filter: blur(2px);

  animation: screenSaver 25s linear infinite;
  will-change: transform;
}

@keyframes screenSaver {
  0% {
    transform: translate(0vw, -30vh) scale(1.1);
  }

  25% {
    transform: translate(20vw, 10vh) scale(1.1);
  }

  50% {
    transform: translate(0vw, 40vh) scale(1.1);
  }

  75% {
    transform: translate(-15vw, 6vh) scale(1.1);
  }

  100% {
    transform: translate(0vw, -30vh) scale(1.1);
  }
}



.glass {
  background: rgba(13, 1, 33, 0.6);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(168, 85, 247, 0.1);
}

.glass-card {
  background: rgba(13, 1, 33, 0.3);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(168, 85, 247, 0.1);
}

.strike-through {
  text-decoration: line-through;
  opacity: 0.5;
}
